body {
    margin:0;
    background:#0a0a0a;
}

#gallery {
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap:10px;
    padding:10px;
    max-width:1600px;
    margin:0 auto;
}

.card {
    overflow:hidden;
}

.card img {
    width:100%;
    height:auto;
    display:block;
    transition:0.6s ease;
}

.card:hover img {
    transform:scale(1.05);
}

/* Buton */
.back-button {
    position: fixed;
    top: 30px;
    left: 30px;
    padding: 12px 26px;
    border: 1px solid #333;
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    letter-spacing: 2px;
    transition: 0.4s;
    z-index: 1000;
    background: rgba(0,0,0,0.4);
    backdrop-filter: blur(6px);
}

.back-button:hover {
    background: #fff;
    color: #000;
}

@media (max-width:600px){
    .back-button{
        top:20px;
        left:20px;
        padding:10px 20px;
        font-size:11px;
    }
}
