body {
    margin:0;
    background:#0a0a0a;
}

#gallery {
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap:10px;
    padding:10px;
    max-width:1600px;
    margin:0 auto;
}

.card {
    overflow:hidden;
}

.card img {
    width:100%;
    height:auto;
    display:block;
    transition:0.6s ease;
}

.card:hover img {
    transform:scale(1.05);
}

/* Buton */
.back-button {
    display:inline-block;
    margin-top:20px;
    padding:14px 32px;
    border:1px solid #333;
    text-decoration:none;
    color:#fff;
    font-size:13px;
    letter-spacing:2px;
    transition:0.4s;
}

.back-button:hover {
    background:#fff;
    color:#000;
}
